<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiAPIKey</key>
	<string>YOUR_GEMINI_API_KEY</string>
	<key>GeminiFallbackAPIKey</key>
	<string>YOUR_OPTIONAL_FALLBACK_KEY</string>
	<key>GeminiModel</key>
	<string>gemini-3.8-flash</string>
	<key>OFFContact</key>
	<string>YOUR_EMAIL_FOR_OPEN_FOOD_FACTS</string>
</dict>
</plist>
